<h1 class="text-center">Ajustes de perfil</h1>

<div class="container text-center">
    <div class="row">
      <div class="col">
        <h2>Datos personales</h2>
        <form class="perfilForm">
            <div class="mb-3">
              <label for="fotoPerfil" class="form-label">Seleccionar Foto:</label>
              <input type="file" class="form-control" id="fotoPerfil" name="foto" accept="image/*" placeholder="foto">
            </div>
            <div class="mb-3">
              <label for="fullName" class="form-label">Nombre completo</label>
              <input type="text" class="form-control" id="fullName">
            </div>
            <div class="mb-3">
                <label for="appName" class="form-label">Nombre de usuario</label>
                <input type="text" class="form-control" id="appName">
              </div>
              <div class="mb-3">
                <label for="cargo" class="form-label">Cargo</label>
                <input type="text" class="form-control" id="cargo">
              </div>
            <button type="submit" class="btn btn-primary">Guardar cambios</button>
          </form>
      </div>
      <div class="col">
        <h2>Contraseña</h2>
        <form class="perfilForm">
            <div class="mb-3">
              <label for="contAnt" class="form-label">Contraseña anterior</label>
              <input type="password" class="form-control" id="contAnt">
            </div>
            <div class="mb-3">
              <label for="contNue" class="form-label">Nueva contraseña</label>
              <input type="password" class="form-control" id="contNue">
            </div>
            <div class="mb-3">
              <label for="rContNue" class="form-label">Repetir nueva contraseña</label>
              <input type="password" class="form-control" id="rContNue">
            </div>
            <button type="submit" class="btn btn-primary">Cambiar contraseña</button>
          </form>
    </div>
    <div class="row part2">
        <div class="col">
            <h2>Notificaciones</h2>
        </div>
        <div class="col">
            <h2>Tema preferente</h2>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
                <label class="form-check-label" for="flexRadioDefault1">
                  Tema Claro
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                <label class="form-check-label" for="flexRadioDefault2">
                  Tema Oscuro
                </label>
              </div>
          </div>
          
        </div>
    </div>
  </div>

  


  