<h1 class="text-center login">Iniciar sesion</h1>

<form class="acceso">
    <div class="mb-3">
      <label for="nombreUsuario" class="form-label d-block text-center">Nombre de usuario</label>
      <input type="text" class="form-control" id="nombreUsuario" aria-describedby="username">
    </div>
    <div class="mb-3">
      <label for="contrasenia" class="form-label d-block text-center">Contraseña</label>
      <input type="contrasenia" class="form-control" id="contrasenia">
    </div>
    <div class="container-fluid btn-acceso">
    <button type="submit" class="btn btn-primary">Acceder</button>
    </div>
  </form>

  <h3 class="text-center solicitarAcceso">Solicita acceso aquí</h3>