<div class="fondoDark">
<div class="descInicio">
<h1 class="text-center">Bienvenid&#64; a Zuhaitzguneapp</h1>
<h2 class="text-center descr">Somos la web de consulta, registro y seguimiento del arbolado urbano. Colabora a mantener una zona urbana ecológica y libre de riesgos</h2>
</div>
<div class="btn-container">
<button class="btn d-inline-block" (click)="mapa()"><i class="fa-solid fa-map"></i> Mapa</button>
<!-- <button (click)="map()">MAP</button>
<button (click)="mapaWFS()">MAPA WFS</button>
<button (click)="mapaWMS()">MAPA WMS</button> -->
<button class="btn d-inline-block" (click)="acceso()"><i class="fa-solid fa-right-to-bracket"></i> Acceso</button>
</div>
</div>